<div class="container">

	<div class="jumbotron jumbotron-smallpadding" ng-hide="submitted">
		<h1 class="no-top-padding">RSVP</h1>
		<form ng-submit="processForm()" class="form-horizontal">
			<div class="form-group form-group-lg">
				<label for="name" class="col-md-4 control-label">Name</label>
				<div class="col-md-5">
					<input type="text" class="form-control" id="name" placeholder="Name" ng-model="formname" required>
				</div>
			</div>
			<div class="form-group form-group-lg">
				<label for="attending" class="col-md-4 control-label ">I will</label>
				<div class="col-md-5">
					<select id="attending" class="form-control">
						<option value="Gladly Attend">Gladly attend</option>
						<option value="Regretfully Decline">Regretfully decline</option>
						<option value="Resentfully Attend">Resentfully attend</option>
						<option value="Enthusiastically Decline">Enthusiastically decline</option>
					</select>
				</div>
			</div>
			<div class="form-group form-group-lg">
				<label for="diet" class="col-md-4 control-label">Any dietery requirements?</label>
				<div class="col-md-5">
					<input type="text" class="form-control" id="diet" placeholder="Dietery Requirements">
				</div>
			</div>
			<div class="form-group form-group-lg">
				<label for="beatles" class="col-md-4 control-label ">Favorite Beatle?</label>
				<div class="col-md-5">
					<select id="beatles" class="form-control">
						<option value="John">John</option>
						<option value="Paul">Paul</option>
						<option value="George">George</option>
						<option value="Ringo">Ringo</option>
						<option value="Fill in">The drummer who filled in on the Australian tour</option>
					</select>
				</div>
			</div>
			<div class="form-group form-group-lg">
				<label for="number" class="col-md-4 control-label ">Will you be coming with anyone?</label>
				<div class="col-md-5">
					<select id="number" class="form-control" ng-model="guest" ng-change="guestchange()">
						<option value="No">No</option>
						<option value="Yes">Yes</option>
					</select>
				</div>
			</div>
			<div ng-show="guestvisible">
			<div class="form-group form-group-lg">
				<label for="guestname" class="col-md-4 control-label">Name </label>
				<div class="col-md-5">
					<input type="text" class="form-control" id="guestname" placeholder="Name">
				</div>
			</div>
			<div class="form-group form-group-lg">
				<label for="guestdiet" class="col-md-4 control-label">Any dietery requirements?</label>
				<div class="col-md-5">
					<input type="text" class="form-control" id="guestdiet" placeholder="Dietery Requirements" >
				</div>
			</div>
			</div>
			<div class="form-group form-group-lg">
				<div class="col-md-offset-4 col-md-5">
				  <button type="submit" class="btn btn-default btn-lg">Submit</button>
				</div>
			</div>
			<input type="hidden" name="fvv" value="1"><input type="hidden" name="draftResponse" value="[,,&quot;-5986136861472431132&quot;]">
			<input type="hidden" name="pageHistory" value="0"><input type="hidden" name="fbzx" value="-5986136861472431132">
		</form>
		
	
	</div>
	
	<div class="jumbotron jumbotron-smallpadding" ng-show="submitted">
			<p>Thanks! We've recieved your RSVP</p>
	</div>

	
</div>