<div class="container">
	<div class="jumbotron jumbotron-smallpadding">
	<div class="row">
		<div class="col-md-5">
			<h1 class="no-top-padding">Where</h1>
			<p class="text-justify"> Our ceremony will be held on the lawns outside entropy and the reception following on inside.</p>
			<p class="text-justify">Head down to the very end of Little Queen Street and follow the signs, entropy is located wihin Adelaide University grounds. Parking is available off of Little Queen Street just before the Adelaide Uni gate.</p>
		</div>
		<div class="col-md-7">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.8149807566965!2d138.57075714309752!3d-34.91109235706344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ab0cf4e81a7b967%3A0xee80f4f127805961!2sEntropy!5e0!3m2!1sen!2sau!4v1463206462620" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	</div>
	
	<div class="jumbotron jumbotron-smallpadding">
	<div class="row">
	<div class="col-md-7">
			<img src="images/entropy.jpg" class="img-responsive center-block" />
		</div>
		<div class="col-md-5">
			<h1 class="no-top-padding">When</h1>
			<p class="text-justify text-right ">Arrive at three thirty in the afternoon for a four o'clock ceremony start.</p>
			<p class="text-right text-justify">Dinner and dancing to follow at five o'clock when drinks and canapés will be served, and will run through to eleven thirty.</p>
		</div>
	</div>
	</div>
	
	<div class="jumbotron jumbotron-smallpadding">
		<h1 class="no-top-padding">How</h1>
		<p class="text-justify text-right ">Bring your very best semi-formal party pants and dresses, it’s going to be a good ole’ time. Fancy ties / bow ties encouraged.</p>
		<p class="text-justify text-right ">Any questions, comments, concerns, playlist requests, or accommodation inquiries; get in touch with Daniel or Nicole: <a href="mailto:osborne.wedding2016@gmail.com">osborne.wedding2016@gmail.com</a></p>
	</div>

	
</div>