<div class="container">

	<div class="jumbotron jumbotron-smallpadding">
		<h1 class="no-top-padding">The Best Men</h1>
		<hr>
	<div class="row">
		<div class="col-md-4">
			<img src="images/Jaryd.png" class="img-responsive image-side-padding" />
		</div>
		<div class="col-md-8">
			<h2 class="text-right">Jaryd Osborne <small>Younger Brother</small></h2>
			<p class="text-right">The younger and as most would agree, less good looking Osborne brother. As you’d expect with only one sibling, we spent a lot of time together growing up. I’ve very fond memories of countless hours spent playing backyard cricket, video games and messing about in the vacant scrub land behind our house. I don’t remember many brotherly dust ups when we were kids, but the time one of us (can’t remember if it was me or him) figured out you can painfully whip someone with a rolled up tea towel stands out in my mind! These days, we have a shared love of mocking the old man for the ridiculous amount of Americana he’s plastered around the house in the last few years since buying a Ford Thunderbird.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-8">
			<h2>Sean Bedford <small>Primary School Mate</small></h2>
			<p>I’ve known Sean for pretty much as long as I can remember. We first met in primary school and have been mates ever since, I was even lucky enough to be his best man a few years ago! Among many things, it’s a shared love of music which stand out when I think of our friendship. Back in the day we had a great time heading along to way too many local gigs, it got to the point where we’d recognise all the same people at all the shows. If I was ever part of some sort of ‘scene’, it was during those days. We also fancied ourselves as garage rockers with dreams of playing the city pub circuit. So many hours were spent jamming in various living rooms and sheds, but of course we (mostly I) probably sounded terrible and we went nowhere with it… yet.</p>
		</div>
		<div class="col-md-4">
			<img src="images/Sean.png" class="img-responsive image-side-padding" />
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-4">
			<img src="images/Patrick.png" class="img-responsive image-side-padding" />
		</div>
		<div class="col-md-8">
			<h2 class="text-right">Pat Moody <small>Uni Mate</small></h2>
			<p class="text-right">I met pat in my first few days at uni, during that short time where no one knows anyone and everyone’s keen to meet people. We quickly bonded over technology, cars and hours spent drinking iced coffee at the uni cafeteria when we probably should have been studying. Years ago we almost got into bitcoin together, before it hit big and made a bunch of people rich. But in our infinite wisdom we decided that, eh, it’ll fizzle out soon enough… Pat’s always been a great motivator, getting me out and doing fun stuff, like the time we rode around Amsterdam trying to find this land sailing place in Amsterdam he’d seen on the internet. Turned out to be an awesome experience, made even more amusing by the fact our instructor was still a bit drunk from partying the night before.</p>
		</div>
	</div>
	</div>
	
	<div class="jumbotron jumbotron-smallpadding">
		<h1 class="no-top-padding">The Bridal Party</h1>
		<hr>
	<div class="row">
		<div class="col-md-4">
			<img src="images/Jenny.png" class="img-responsive image-side-padding" />
		</div>
		<div class="col-md-8">
			<h2 class="text-right">Jenny Spartley <small>Maid Of Honour</small></h2>
			<p class="text-right">28 years ago Jenny was introduced to her new little sister, Nicole. During their childhood the two shared a room, toys and clothes, and spent most of their time together participating in different sports. As they grew older their interests became varied but they remained close friends. Now as adults, Nicole and Jenny share their love of teaching and Jenny’s beautiful sons, Zach and Blake. Nicole describes Jenny as the ‘nice sibling’ and the most organised person you’ll ever meet. Everything will run perfectly if organised by Jen.</p>
			<p class="text-right">Jenny says of Nicole, "Apart from Nicole and I being sisters we bonded over our second language (Gilmore Girls) as only a few people can speak it or understand it. For those who don't know what Gilmore Girl language is, its's speaking extremely fast and changing topics frequently. We use it to our advantage whilst playing team board games. Nicole also plays the older sister role, I turn to her for advice about clothes, make up, hair, where to eat and places to go."</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-8">
			<h2>Reece Spaans <small>Bridesman</small></h2>
			<p>Reece met Nicole on her very first day at Craigmore High School in 2011. Though Reece didn’t seem to take too much notice of her, he left an impression on Nicole after he helped her out, finding her a desk and arranged keys (the good ones). They bonded that year over their love of wine, food and the theatre. Since then, they’ve enjoyed subscriptions to the State Theatre, the Cabaret Festival and many Fringe shows. Nicole describes Reece as the most positive person she knows and is looking forward to the fun he’ll bring to the wedding.</p>
		</div>
		<div class="col-md-4">
			<img src="images/Reece.png" class="img-responsive image-side-padding" />
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-4">
			<img src="images/Sarah.png" class="img-responsive image-side-padding" />
		</div>
		<div class="col-md-8">
			<h2 class="text-right">Sarah Stagg <small>Bridesmaid</small></h2>
			<p class="text-right">Nicole and Daniel first met Sarah when she starting dating their friend, Jordan, five years ago. After attending quiz nights together, the girls’ friendship blossomed when they discovered their mutual love of the TV shows (‘Happy Endings’ and ‘Parks and Recreation’), healthy eating and fitness. Nicole and Sarah became pen pals when Nicole moved to Leeds, exchanging letters throughout the year, keeping each other motivated in their journey to a healthier lifestyle. Nicole describes Sarah as kind, creative and funny, the perfect combination for a bridesmaid!</p>
			<p class="text-right">Sarah says of Nicole, "Nicole and I have known each other for 5 and a half years. It was while we attended quiz nights as Barry Jive and the Uptown Five that we began to bond, chatting about health and fitness, wedding planning and tv shows rather than actually listening to and partaking in the quiz. Of course it was in the 6 months prior to her and Dan leaving for England that we really solidified our newly found friendship. As happy as I was for them and this new adventure I was less impressed that they'd be gone for over a year. So we compromised, they were allowed to leave as long as Nicole and I could be pen pals. So over the next year we kept each other up to date with all the exciting things happening in our lives with many letters, adorable stationary and the occasional Skype chat. I am so happy to have her back in Adelaide (for now) and be able to be a part of such a fun and special day and all the lead up towards it."</p>
		</div>
	</div>
	</div>
	
</div>